In [1]:
import pandas as pd

In [18]:
# Задача 2
power = (pd.read_csv('C:\\Users\\Professional\\Desktop\\power.csv'))
power_dz = power[ ((power.country == 'Latvia') | (power.country == 'Lithuania') | (power.country == 'Estonia')) & ( (power.year >= 2005 ) & ( power.year <= 2010 ) & ( power.quantity > 0 )) & (( power.category == 4) | ( power.category == 12) | ( power.category == 21))]
sum(power_dz.quantity)

240580.0

In [16]:
# Задача 3

page_url = 'https://www.medsoftpro.ru/kalkulyatory/ideal-weght'
rv = pd.read_html(page_url, attrs = {'class': 't_style table'}, encoding = 'utf-8')
rv[:6][0]

   Рост, cм 20–29 лет      30–39 лет      40–49 лет      50–59 лет       \
   Рост, cм      муж. жен.      муж. жен.      муж. жен.      муж. жен.
0       148       508  484        55  523       566  547        56  532
1       150       513  489       567  539       581  565        58  557
2       152       513   51       587   55       615  595       611  576
3       154       553   53       616  591       645  624       638  602
4       156       585  558       644  615       673   66       658  624
5       158       612  581       673  641       704  679        68  645
6       160       629  598       692  658       723  699       697  658
7       162       646  616        71  685       744  727       727  687
8       164       673  636       739  708       772   74       756   72
9       166       688  652       745  718        78  765       763  738
10      168       708  685       763  737       796  782       779  748
11      170       727  692       777  758        81  798       796  768
12      172       741  728       793   77       828  817       811  777
13      174       775  743       808   79       844  837        83  794
14      176       808  768       833  799        86  846       841  805
15      178        83  782       856  824        88  861       865  824
16      180       851  809        88  839       899  881       875  841
17      182       872  833       906  877       914  893       895  865
18      184       891  855        92  894       929  909       916  874
19      186       931  892        95   91       966  929       928  896
20      188       958  918        97  944        98  958        95  915
21      190       971  923       995  956      1007  974       994  956

   60–69 лет
        муж. жен.
0        539  522
1        573  548
2        603  559
3        619   59
4        637  609
5         67  624
6        682  646
7        691  665
8        722   70
9        743  713
10        76  733
11       769   75
12       783  763
13       793   78
14       819  791
15       828  809
16       844  816
17       854  829
18        88  859
19        89  873
20       915  888
21       948  929

In [23]:
# Задача 1
data = pd.read_csv('C:\\Users\\Professional\\Desktop\\ratings.csv')
data_5 = data[data.rating == 5.0]
dz_out = data_5.groupby('movieId').count().sort_values('rating', ascending=False).head(1)
dz_out

         userId  rating  timestamp
movieId
318       48762   48762      48762